
img {
  width:100%;
}

header {
  margin: 0em 0em 4em;
  padding:0;
  background-color: black;
}
footer {
  margin: 0em 0em;
  padding:0;
  background-color: black;
}
h1 {
  font-size: 1.2em;
  padding:0;
  margin:0;
  display: inline-block;
  color:white;
  font-weight: 100;
}
h2 {
  font-size:.9em;
  text-align: center;
  margin: 5%;
  font-weight: 300;
}
h4 {
  font-size:.8em;
  text-align: left;
  font-weight: 700;
  width:100%;
  color:white;
}
p {
  top:0;
  font-family: Verdena;
  font-size: 0.5em;
  text-align: center;
  padding: .3em;
}
a, a:link {
  text-decoration: none;
  color:white;
}
a:hover,a:active {
  color: #777;
}
