/*SITE-NAV STYLES
=======================================*/

#site-nav {
  padding:0.1em;
}
#site-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;

}

#site-nav:hover ul {
  display: block;
}
#site-nav li {
  display: inline-block;
  color:white;
  margin-right: .4em;
  font-size: .7em;
  padding: 0em .5em;
}
#site-nav li:hover {
  border-left: .1em solid red;
}
/*NAVIGATION STYLE
=======================================*/
/*.navigation {
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  right: 0;
  bottom:0;
  left:0;
  z-index: 0;

  list-style: none;
  background: #111;
}

.site-tab {
  width:30%;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.site-tab a {
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.site-tab a:hover {
  color:#c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background: white;
  position: relative;
  top:0;
  bottom: 100%;
  left:0;
  z-index: 1;
}

.nav-trigger {
  position: absolute;
  clip:rect(0,0,0,0);
}

label[for="nav-trigger"] {
  position:fixed;
  left:15px;
  top:15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left:20%;
}

.nav-trigger:checked ~ .site-wrap {
  left: 20%;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  /*overflow-x: hidden;
}*/
/*PROJECT STYLES
=======================================*/
.p-color {
  font-family: myriad;
  font-size: .5em;
  font-weight: 300;
}

 .project-info {
  width:50%;
  margin: 5% 24% 5%;
  padding:.2em .4em;
  background-color: #77FFAA;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom: 2px solid red;
}
.project-info img {
  width:30%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.projects {
  width:50%;
  display:none;
}
.project-name:hover {
  color: #777;
}

#footer-p {
  font-size: .5em;
  background-color: white;
}

#stuff {
  font-size: .5em;
  list-style: none;
}

.icon-menu {
  font-size: 1.2em;
  float:right;
  margin-right: .2em;
  margin-top: -4%;
  display: inline-block;
  color:white;
}

.box {
  border-bottom: 2px solid red;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}


@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  #site-nav ul {
    display: block;
    margin: 0 auto;
    text-align: right;
  }
  #site-nav li {
    display: inline-block;
    padding: .8em 1em;
    font-size: .6em;
  }

}
