#site-nav ul {
  /* NOTE: We are by defualt hiding the main nav list because we are
      expecting the UI to be mobile, therefore our new icon menu
      takes its place. */
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

#site-nav:hover ul {
  display: block;
}
#site-nav li {
  margin-right: .4em;
  font-size: 1em;
  padding: .2em .1em;
}
