#site-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

#site-nav:hover ul {
  display: block;
}
#site-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .2em .1em;
}
